* {
  box-sizing: border-box;
  margin: auto;
  font-family: Poppins, sans-serif;
}

.title {
  height: 20vh;
  font-size: 6em;
  font-weight: 200;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1% 0 3% 0;
  color: #232F2E;
  justify-content: center;
}

.bg-gradient {
  background: linear-gradient(-45deg, #b0dadd, #87a6a6, #9BB6AF, #7C9996);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#centered-text {
  text-align: center;
  width: 33%;
  font-weight: 400;
  padding: 1%;
  font-size: 1.3em;
  border-radius: 0 0 30px 30px;
}

hr {
  margin: 3%;
  background-color: #7ca7a7;
  opacity: 20%;
  height: 1vh;
  border: none;
}

.project-title {
  font-size: 1.6em;
  text-align: center;
  vertical-align: top;
}

.cards {
  display: flex;
  overflow-x: scroll;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
}

.project-title {
  margin: 1% 1% 5% 1%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.project-description {
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a {
  color: #232F2E;
}

.card {
  scroll-snap-align: start;
  background-color: #CEE1E1;
  height: 30vh;
  overflow-y: scroll;
  border-radius: 25px;
  padding: 1%;
  transition: 0.5s;
}

.cards {
  padding: 3%;
}

.card:hover {
  background-color: #5a7976;
  transform: scale(1.2);
}

.card:hover a {
  color: #e2eeee;
}

.card::-webkit-scrollbar {
  display: none;
}

.card {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.card .card-link-wrapper {
  margin-top: auto;
}

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: var(--darkred);
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}

@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }
  .card:not(:last-child) {
    margin-right: 20px;
  }
}
@media (min-width: 700px) {
  .card {
    flex-basis: calc(33.3333333333% - 20px);
  }
  .card:not(:last-child) {
    margin-right: 30px;
  }
}
@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
  }
  .card:not(:last-child) {
    margin-right: 40px;
  }
}
body {
  margin: 0;
  padding: 0;
}

.editorial {
  display: block;
  width: 100%;
  height: 80;
  max-height: 80px;
  margin: 0;
  z-index: 5;
  bottom: 0;
  position: absolute;
  left: 0px;
  float: left;
}

.parallax1 > use {
  -webkit-animation: move-forever1 20s linear infinite;
          animation: move-forever1 20s linear infinite;
}
.parallax1 > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.parallax2 > use {
  -webkit-animation: move-forever2 16s linear infinite;
          animation: move-forever2 16s linear infinite;
}
.parallax2 > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.parallax3 > use {
  -webkit-animation: move-forever3 12s linear infinite;
          animation: move-forever3 12s linear infinite;
}
.parallax3 > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.parallax4 > use {
  -webkit-animation: move-forever4 8s linear infinite;
          animation: move-forever4 8s linear infinite;
}
.parallax4 > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@-webkit-keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}/*# sourceMappingURL=styles.css.map */